@model Domain.Models.StockItem

@{
    ViewData["Title"] = "Create ItemEstoque";
}

<h4>Adicionar item ao estoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Select para a loja -->
            <div class="form-group">
                <label asp-for="StockStoreId" class="control-label">Loja</label>
                <select asp-for="StockStoreId" asp-items="ViewBag.Stores" class="form-control">
                    <option value="">Selecione uma loja</option>
                </select>
                <span asp-validation-for="StockStoreId" class="text-danger"></span>
            </div>

            <!-- Select para o produto -->
            <div class="form-group">
                <label asp-for="StockProductId" class="control-label">Produto</label>
                <select asp-for="StockProductId" asp-items="ViewBag.Products" class="form-control">
                    <option value="">Selecione um produto</option>
                </select>
                <span asp-validation-for="StockProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QTY" class="control-label">Quantidade</label>
                <input asp-for="QTY" class="form-control" />
                <span asp-validation-for="QTY" class="text-danger"></span>
            </div>

            <br></br>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-outline-primary" /> | <a asp-action="Index" class="bi bi-skip-backward-fill btn btn-outline-primary"> Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
