@model Domain.Models.StockItem

@{
    ViewData["Title"] = "Delete";
}

<div>
    <div style="display:flex; justify-content:center; align-items: center;">
        <div style="text-align: center; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; padding: 20px; margin: 20px auto; width: 50%;">
            <h5>Você quer mesmo deletar esse registro?</h5>
            <br></br>
            <br>
            <h2>@Html.DisplayFor(model => model.StockProduct.ProductName)</h2>
            <br>
            <h2>@Html.DisplayFor(model => model.StockStore.StoreName)</h2>
            <br>
            <h5>Valor de compra: @Html.DisplayFor(model => model.QTY)</h5>
            <br>
            <br>
    
            <form asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="StockId" />
                    <input type="submit" value="Deletar" class="btn btn-outline-danger" /> | <a asp-action="Index" class="bi bi-skip-backward-fill btn btn-outline-primary"> Voltar</a>
                </div>
            </form>


</div>
