@model Domain.Models.ItemEstoque

@{
    ViewData["Title"] = "Create ItemEstoque";
}

<h1>Create ItemEstoque</h1>

<h4>ItemEstoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Select para a loja -->
            <div class="form-group">
                <label asp-for="LojaId" class="control-label">Loja</label>
                <select asp-for="LojaId" asp-items="ViewBag.Lojas" class="form-control">
                    <option value="">Selecione uma loja</option>
                </select>
                <span asp-validation-for="LojaId" class="text-danger"></span>
            </div>

            <!-- Select para o produto -->
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label">Produto</label>
                <select asp-for="ProdutoId" asp-items="ViewBag.Produtos" class="form-control">
                    <option value="">Selecione um produto</option>
                </select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantidade" class="control-label">Quantidade</label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
