@using Microsoft.AspNetCore.Identity
@using Domain.Models

@inject SignInManager<StockUser> SignInManager
@inject UserManager<StockUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @UserManager.GetUserAsync(User).Result.StockUserName!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="bi bi-box-arrow-right btn btn-outline-danger"> Sair</button>
        </form>
    </li>
}
else
{
        <div class="d-flex align-items-center">
            <li class="nav-item me-2">
                <a class="btn btn-outline-purple-Nav" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-purple-Nav" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        </div>
}
</ul>

<style>
    .btn-outline-purple {
        color: #6fbbd3;
        background-color: transparent;
        border-color: #0000ff;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-outline-purple:hover {
            background-color: #0000ff;
            color: #ffffff;
        }

    .btn-outline-purple-Nav {
        color: #0000ff;
        background-color: transparent;
        border-color: #0000ff;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 50px;
    }

        .btn-outline-purple-Nav:hover {
            background-color: #0000ff;
            color: #ffffff;
        }

</style>